<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../static/bootstrap.min.css">
		<script src="../static/jquery.slim.min.js"></script>
		<script src="../static/bootstrap.bundle.min.js"></script>
		<title>{{ rss['feed']['title'] }}</title>
	</head>
	<body>
		<div>
			{% for entry in rss['entries'] %}
			<div class="card m-3">
				<div class="card-body">
					<h5 class="card-title">{{ entry['title'] }}</h5>
					{{ entry['description']|safe }}
					<a href="{{ entry['link'] }}">官方报道</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</body>
</html>
